.marquee {
  height: auto;
  line-height: 4.5;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.text-track {
  white-space: nowrap;
  will-change: transform;
  animation: marquee 20s linear infinite;
}

.marquee:hover .text-track {
  animation-play-state: paused;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}