

.blog_card_box:hover .blog_title h2 {
  color: #1c7df8 !important;
}

.blog_image img {
  transform-origin: center center;
  transition: ease-in-out 500ms;
}

.blog_card_box:hover .blog_image img {
  transform: scale(1.1);
}


.blog-slider-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none; 
}

.blog-slider-container::-webkit-scrollbar {
  display: none; 
}

.blog-slider-container > app-blog-card {
  flex: 0 0 350px; 
  scroll-snap-align: start;
}