<div class="py-14 px-4 sm:px-2 md:px-6 lg:px-10" data-animate>
  <div class="mx-auto w-[90%] md:w-[85%]">
    <div
      class="blog-slider-container flex overflow-x-auto snap-x snap-mandatory scroll-smooth gap-4 sm:gap-6 md:gap-8"
    >
      <app-blog-card
        *ngFor="let item of list(); let i = index"
        [item]="item"
        [countdown]="countdowns()[i]"
        class="flex-none w-[85%] sm:w-[250px] md:w-[380px] lg:w-[420px] snap-start"
      ></app-blog-card>
    </div>
  </div>
</div>
