<div class="side-panel fixed top-0  right-[-300px] w-[300px] h-full text-dark z-[1200] flex flex-col transition-all duration-500 ease-[cubic-bezier(0.77,0,0.175,1)]" [class.open]="sidePanel.open$()">
  <div class="side-panel-header flex justify-end p-4">
    <button (click)="sidePanel.close()" id="close-panel" class="bg-none border-none text-3xl text-dark cursor-pointer">&times;</button>
  </div>
  <ul class="side-panel-links list-none p-8 flex flex-col gap-6">
    <li><a routerLink="home" (click)="sidePanel.close()" class="text-dark text-lg hover:text-accent transition-colors duration-300">Home</a></li>
    <li><a routerLink="about" (click)="sidePanel.close()" class="text-dark text-lg hover:text-accent transition-colors duration-300">About Us</a></li>
    <li><a routerLink="projects" (click)="sidePanel.close()" class="text-dark text-lg hover:text-accen transition-colors duration-300">Projects</a></li>
    <li><a routerLink="primeConsultant" (click)="sidePanel.close()" class="text-dark text-lg hover:text-accent transition-colors duration-300">Prime Consultant</a></li>
    <!-- <li><a routerLink="blogs" (click)="sidePanel.close()" class="text-dark text-lg hover:text-accent transition-colors duration-300">News & Events</a></li> -->
    <li><a routerLink="gallery" (click)="sidePanel.close()" class="text-dark text-lg hover:text-accent transition-colors duration-300">Gallery</a></li>
    <li><a routerLink="contact" (click)="sidePanel.close()" class="text-dark text-lg hover:text-accent transition-colors duration-300">Contact</a></li>
  </ul>
</div>