:host {
  display: block;
}

/* video-player.component.css */
.filter-sepia {
  filter: sepia(0.3);
}

.filter-saturate {
  filter: saturate(0.8);
}

.filter-hue-rotate {
  filter: hue-rotate(-5deg);
}

.filter-contrast {
  filter: contrast(1.1);
}