<app-landowner-hero></app-landowner-hero>

<div class="py-14 px-4">
  <div class="w-[85%] mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 xl:gap-16">
    <div>
      <a routerLink="">
        <img
          class="w-full rounded object-cover h-[450px]"
          src="/images/land.jpg"
          alt="Joint venture"
        />
      </a>
    </div>
    <div class="sticky top-8 fade-up">
      <h1
        class="text-4xl md:text-5xl font-extrabold text-gray-900 mb-6 leading-snug"
      >
        <span class="text-accent">Company</span> is the perfect choice for your
        <span class="text-accent">joint ventures</span>
      </h1>
      <p class="text-gray-700 text-lg md:text-xl leading-relaxed">
        Embarking on a <span class="font-semibold">joint venture</span> for your
        land is a decision that deserves careful consideration to unlock its
        full potential. At
        <span class="text-accent font-semibold">Prime Housing</span>, we view
        landowners as our esteemed
        <span class="font-semibold">development partners</span> and craft
        strategies that elevate returns while safeguarding your vision. Our
        legacy speaks for itself, consistently surpassing expectations and
        transforming partnerships into lasting success stories.
      </p>
    </div>
  </div>
</div>

<app-landowner-benefits></app-landowner-benefits>

<app-owner-speech
[title]="'Owner’s Speech'"
  [ownerName]="state.about.ownerName"
  [ownerDesignation]="state.about.ownerDesignation"
  [ownerSpeech]="state.about.ownerSpeech"
  [ownerImage]="state.about.ownerImage"
  (imageError)="onImageError($event)"
/>

<app-consultant-slider />
<app-interior-slider />
<app-landowner-form />
