<section class="neo-vision">
  <div class="neo-vision__background" aria-hidden="true">
    <img src="/images/banner/banner-3.png" alt="Architectural skyline" />
    <div class="neo-vision__overlay"></div>
    <div class="neo-vision__glow neo-vision__glow--one"></div>
    <div class="neo-vision__glow neo-vision__glow--two"></div>
  </div>

  <div class="neo-vision__content">
    <span class="neo-section__tag">Vision</span>
    <h2 class="neo-vision__title">
      <span>Elevating</span>
      <span>The Way We Live</span>
    </h2>
    <p class="neo-vision__description">{{ vision }}</p>
    <a routerLink="/about" class="neo-vision__cta">Read Our Story</a>
  </div>
</section>
